body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    margin: 60px 0 30px;
}

/* Mix */
.color-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #f3f5f9;
}

/* Buttons */
.btn-sign-up {
    color: #0069ff;
    padding: 10px 22px;
    border-radius: 5px;
    border: 1.5px solid #0069ff;
    font-weight: 500;
}

.btn-mobile {
    color: #0069ff;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.btn:hover {
    color: #0069ff;
}

/* Header */
.nav-box {
    position: fixed;
    line-height: 80px;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.logo img {
    height: 35px;
}

.list-inline {
    margin-bottom: 0;
}

.main-nav {
    margin-right: 60px;
}

.nav-box li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.nav-box li a {
    color: #000;
    text-decoration: none;
}

/* Jumbotron */
.jumbo {
    margin-top: 80px;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbo p {
    font-size: 20px;
    margin-bottom: 50px;
}

.form-box {
    border-radius: 5px;
    padding: 0 15px;
    margin-top: 45px;
}

.form-box h3 {
    text-align: center;
    line-height: 40px;
    padding-top: 25px;
    font-size: 32px;
    font-weight: 600;
}

.form-box h3 span {
    color: #0069ff;
}

.form-box form::placeholder {
    padding: 20px;
}

.form-box form input {
    font-weight: 600;
    padding: 0 5px;
}

#create_account {
    background-color: #0069ff;
}

#create_account::placeholder {
    color: #fff;
}

#sign_google {
    position: relative;
    box-shadow: 3px 5px 5px #818181;
}

.form-group img {
    position: absolute;
    width: 20px;
    bottom: 100px;
    left: 40px;
}

.form-box form a {
    text-decoration: underline;
}

/* Logos section */
#logos {
    padding: 35px 0 20px;
}

#logos h4 {
    text-transform: uppercase;
    color: #7e7e7e;
    padding-bottom: 15px;
}

#logos img {
    height: 80px;
    width: 100%; 
    object-fit: contain; 
}

#logos p {
    padding-top: 25px;
}

/* Responsive */
/* MD to LG to beyond*/
@media screen and (min-width: 992px) {
    .form-group img {
        position: absolute;
        width: 20px;
        bottom: 130px;
        left: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .form-group img {
        position: absolute;
        width: 20px;
        bottom: 100px;
        left: 40px;
    }
}

/* MD */
@media screen and (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
    
    .form-group img {
        position: absolute;
        width: 20px;
        bottom: 130px;
        left: 40px;
    }

    #logos img {
        padding: 0;
    }
}

/* SM to XS*/
@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    .jumbo p {
        margin-bottom: 10px;
    }

    .form-group img {
        position: absolute;
        width: 20px;
        bottom: 60px;
        left: 40px;
    }

    #logos h4 {
        padding: 25px 0;
    }

    #logos p {
        padding: 40px 0 15px;
    }
}